{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    
.blog-menu {
    border: 2px solid #36d0c4 !important;
    border-radius: 50px;
    background-color: #36d0c4;
}
.mobile-blog-menu{
   color: #36d0c4 !important;
   margin-bottom: 10px;
   font-weight: 800; 
}
</style>
<script type="text/javascript" src="{% static 'js/about.js' %}"/></script>



    <section id="blog-page-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-row-box">
             <div id="blog-post">
                 <div class="col-sm-5" id="blog-half-part">
                    <div id="blog-text-part">
                        <p id="blog-text-title">The Benefits of a Pre-Christmas Clean</p>
                        <span id="icons-box"><i class="fas fa-calendar-alt blog-post"></i><a id="blog-date">6 February 2017</a></span><span><i class="far fa-comment blog-post"></i><a id="blog-comment">6 Comments</a></span>
                        <p id="blog-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat, arcu sed ornare facilisis, enim ipsum varius libero, eget fermentum nisl dolor ac erat. Mauris suscipit massa lacus, ut euismod tellus tincidunt at. Nunc lacus metus, ultrices eget ipsum eget, egestas aliquet nisi. Proin iaculis nunc non ligula facilisis ultricies. Nam eu venenatis nibh. Proin finibus a dui sed facilisis.…</p>
                        <p id="read-more-button">Read More</p>
                    </div>
                 </div>
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-6" id="blog-half-part">
                    <img src="{% static 'img/blog-img1.jpg' %}" id="blog-main-img">
                 </div>
             </div>
          </div><!-- left -->
          <div class="col-sm-12 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-row-box">
             <div id="blog-post">
                <div class="col-sm-6" id="blog-half-part">
                    <img src="{% static 'img/blog-img2.jpg' %}" id="blog-main-img">
                 </div>
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-5" id="blog-half-part">
                    <div id="blog-text-part">
                        <p id="blog-text-title">The Benefits of a Pre-Christmas Clean</p>
                        <span id="icons-box"><i class="fas fa-calendar-alt blog-post"></i><a id="blog-date">6 February 2017</a></span><span><i class="far fa-comment blog-post"></i><a id="blog-comment">6 Comments</a></span>
                        <p id="blog-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat, arcu sed ornare facilisis, enim ipsum varius libero, eget fermentum nisl dolor ac erat. Mauris suscipit massa lacus, ut euismod tellus tincidunt at. Nunc lacus metus, ultrices eget ipsum eget, egestas aliquet nisi. Proin iaculis nunc non ligula facilisis ultricies. Nam eu venenatis nibh. Proin finibus a dui sed facilisis.…</p>
                        <p id="read-more-button">Read More</p>
                    </div>
                 </div>
             </div>
          </div><!-- right -->
          <div class="col-sm-12 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-row-box">
             <div id="blog-post">
                 <div class="col-sm-5" id="blog-half-part">
                    <div id="blog-text-part">
                        <p id="blog-text-title">The Benefits of a Pre-Christmas Clean</p>
                        <span id="icons-box"><i class="fas fa-calendar-alt blog-post"></i><a id="blog-date">6 February 2017</a></span><span><i class="far fa-comment blog-post"></i><a id="blog-comment">6 Comments</a></span>
                        <p id="blog-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat, arcu sed ornare facilisis, enim ipsum varius libero, eget fermentum nisl dolor ac erat. Mauris suscipit massa lacus, ut euismod tellus tincidunt at. Nunc lacus metus, ultrices eget ipsum eget, egestas aliquet nisi. Proin iaculis nunc non ligula facilisis ultricies. Nam eu venenatis nibh. Proin finibus a dui sed facilisis.…</p>
                        <p id="read-more-button">Read More</p>
                    </div>
                 </div>
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-6" id="blog-half-part">
                    <img src="{% static 'img/blog-img3.jpg' %}" id="blog-main-img">
                 </div>
             </div>
          </div><!-- left -->
          <div class="col-sm-12 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-row-box">
             <div id="blog-post">
                <div class="col-sm-6" id="blog-half-part">
                    <img src="{% static 'img/blog-img4.jpg' %}" id="blog-main-img">
                 </div>
                 <div class="col-sm-1">
                 </div>
                 <div class="col-sm-5" id="blog-half-part">
                    <div id="blog-text-part">
                        <p id="blog-text-title">The Benefits of a Pre-Christmas Clean</p>
                        <span id="icons-box"><i class="fas fa-calendar-alt blog-post"></i><a id="blog-date">6 February 2017</a></span><span><i class="far fa-comment blog-post"></i><a id="blog-comment">6 Comments</a></span>
                        <p id="blog-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat, arcu sed ornare facilisis, enim ipsum varius libero, eget fermentum nisl dolor ac erat. Mauris suscipit massa lacus, ut euismod tellus tincidunt at. Nunc lacus metus, ultrices eget ipsum eget, egestas aliquet nisi. Proin iaculis nunc non ligula facilisis ultricies. Nam eu venenatis nibh. Proin finibus a dui sed facilisis.…</p>
                        <p id="read-more-button">Read More</p>
                    </div>
                 </div>
             </div>
          </div><!-- right -->
        </div>
      </div>
   </section><!--             blog section            -->  



 {% endblock %}  