{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  
.contact-menu {
    border: 2px solid #36d0c4 !important;
    border-radius: 50px;
    background-color: #36d0c4;
}
.mobile-contact-menu{
   color: #36d0c4 !important;
   margin-bottom: 10px;
   font-weight: 800; 
}
</style>
<script type="text/javascript" src="{% static 'js/about.js' %}"/></script>




<section id="conatct-map-section">
      <div class="container" id="welcome-section-width">
         <div class="row">
            <div class="col-sm-12">
               <di class="col-sm-6" id="wall-img-box">
                   <div style="width: 100%"><iframe id="google-map" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a></iframe></div><br />
               </di>
               <div class="col-sm-6" >
                   <p id="welcome-title" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Find Us</p>
                   <p id="welcome-sub" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Contacts</p>
                   <div id="contact-div" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                     <p id="contact-div-name">Address:</p>
                     <p id="contact-div-des">8500 Lorem Street,</p>
                     <p id="contact-div-des">Chicago, IL, 55030Address:</p>
                   </div>  
                   <div id="contact-div" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                     <p id="contact-div-name">Phone:</p>
                     <p id="contact-div-des">1 800 1234 5678</p>
                   </div>
                   <div id="contact-div" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                     <p id="contact-div-name">Email:</p>
                     <p id="contact-div-des">info@yoursite.com</p>
                   </div>
               </div>
            </div>
         </div>
      </div>
    </section><!--             map section            --> 

    <section id="third-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/wall-3.png' %}">
    </section><!--             third wall section            --> 

    <section id="services-section">
      <div class="container" id="services-width">
         <div class="row">
           <div id="services-text">
               <p id="services-title" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">Send Us a Message</p>
               <p id="services-des" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">Get in Touch</p>
           </div>
            <div class="col-sm-12 wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                 <div class="col-sm-6" id="input-name-box">
                    <input type="text" name="" placeholder="Your name">
                 </div>
                 <div class="col-sm-6" id="input-name-box">
                    <input type="Email" name="" placeholder="Your E-mail">
                 </div>
                 <div class="col-sm-12" id="input-name-message">
                    <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Your message"></textarea>
                    <div id="send-message-div">
                      <p id="send-message-button">Send Message</p>
                    </div>  
                 </div>
              </div> 
              <div class="col-sm-2">
              </div>  
            </div>
         </div>
      </div>
    </section><!--             conatct section            --> 





 {% endblock %}  